.not-found {
  color: red;
  text-align: center;
  margin: 1rem;
}

.add-stud {
  display: inline-block;
  text-align: left;
  border: 3px solid #003366;
  padding: 0 2rem;
  margin: 1rem auto;
}

.add-stud input {
  margin: 0.5rem;
}
.center {
  margin-left: 5rem;
}
